{% extends "base.html" %}

{% block content %}
    <h1 id='front'>All Blog Submissions</h1>

    {% if blogs|length == 0 %}
        <p>No blogs have been submitted</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>            
            <a href='/blog?id={{blog.id}}'><h2 id='middle'>{{blog.title}}</h2></a>                                      
            <p id='end'>{{blog.body}}</p>
            <hr>
            </li>
            {% endfor %}
        </div>

    {% endif %}
{% endblock %}