{% extends "base.html" %}

{% block content %}
<h1 class='question'>What's on your mind?</h1>
<form method='POST' action='newpost'>
    <div class='form-group title'>
        <label for='enterTitle' id='fancy'>Title This!</label>
        <hr>
        <input type="text" name="title" class='form-control' id='box' placeholder='Title' 
          required autofocus value="{{title}}">     
    </div>
    <br />
    <hr>
    <br />
    <div class='form-group body'>
        <label for='enterText' id='fancy'>Your Story Goes Here: </label>
        <hr>                
        <textarea name="body"  class='form-control2' id='box' placeholder='Enter Text' 
          required value="{{body}}"></textarea>
    </label>
        <p class="error">{{blog_error}}</p>
    
    <input type="submit" value="Post Blog" />

</form>

{% endblock %}